.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Green_mountains_icon.png"); /* The image used */
    background-color: white; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat-x; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.container {
  margin-top: 30px;
  margin-left: 20px;
}

.images {
  height: 200px;
}
  