.hero-image {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d6/Green_mountains_icon.png"); /* The image used */
    background-color: white; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat-x; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.container {
  margin-top: 30px;
  margin-left: 20px;
}

.images {
  height: 350px;
  width: 350px;
}


@media (max-width: 576px) { 
  .container {
    margin-top: 0px;
    margin-left: 0px; 
  }
  .col-xs-9 {
    width: fit-content;
    }

  .card {
    width: fit-content;
  }

  .col-xs-6 {
    width: fit-content;
  }
  
  .col-xs-3 { 
    width: fit-content;
  }

  .col-xs-12 {
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .col-sm-9 {
    width: fit-content;
  }

  .card {
    width: fit-content;
  }

  .col-sm-6 {
    width: fit-content;
  }

  .col-sm-12 {
    width: fit-content;
  }

  .col-sm-3 {
    width: fit-content;
  }
}

@media (max-width: 992px) { 
  .col-lg-9 {
    width:fit-content;
  }
  
  .card {
    width: fit-content;
  }

  .col-lg-6{
    width: fit-content;
  }

  .col-lg-9 {
    width: fit-content;
  }

  .col-lg-12 {
    width: fit-content;
  }

  .form-group {
    width: 700px;
  }
}

 @media (max-width: 1200px) {
   
   .col-lg-9 {
    width: fit-content;
  }

  .card {
    width: 800px;
  }

  .col-lg-6{
    width: fit-content;
  }

  .images {
    height: 350px;
    width: 350px;
  }
 }

